<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Application</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link href="{{ url_for('static', filename='js/core/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='js/core/lib/bootstrap/css/docs.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='js/core/lib/gijgo/gijgo.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='js/core/lib/fontawesome-5.11.2/css/all.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='js/core/lib/bs-datepicker/bootstrap-datepicker.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='js/core/lib/7segemnts/segment7.css') }}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow" id="id_application_navbar_container">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Application</a>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <strong><span style="color: white" id="id_application_time">10:00:00</span></strong>
                </li>
            </ul>
        </nav>
        <br>
        <div id="id_application_container_view_module"></div>

        <!-- Icons -->
        <script src="{{ url_for('static', filename='js/core/lib/feather/feather.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/jquery_3_3_1/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/popper_1_14_7/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/bootstrap/js/bootstrap-slider.js') }}"></script>

        <script src="{{ url_for('static', filename='js/core/lib/crypto-js/3.1.2/components/core.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/crypto-js/3.1.2/components/md5.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/plotly/plotly-2.6.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/gijgo/gijgo.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/fontawesome-5.11.2/js/all.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/lib/bs-datepicker/bootstrap-datepicker.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/core/src/Users.js') }}"></script> 
        <script src="{{ url_for('static', filename='js/core/src/Network.js') }}"></script>        
        <script src="{{ url_for('static', filename='js/core/src/ApplicationLoader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/MKSApi.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/MainApp.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/ModuleObject.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/ViewModuleSelector.js') }}"></script>

        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_object.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_object_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_writing.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_box.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_button.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_textbox.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_progress_bar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_tabs_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_dropdown.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_ioview.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_slider.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_multi_slider.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_switch.js') }}"></script>

        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_drop_down.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_graph.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_modal.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_table.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/progress_bar.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_slider.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_matrix.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_uploader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_tabs_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_slider_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/cui_matrix_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_io_view.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_switch_button.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_switch_widget.js') }}"></script>
        <script src="{{ url_for('static', filename='js/core/src/widgets/basic_text_box.js') }}"></script>

        <script type="text/javascript">
            var myVar       = "{{ data }}";
            var decodedJSON = $('<div/>').html(myVar).text();
            var web_data    = $.parseJSON(decodedJSON);

            var global_ip       = web_data.ip;
            var global_port     = web_data.port;
            var global_web_port = web_data.web_port;

            console.log(global_ip, global_port, global_web_port);

            var queryString = window.location.search;
            var view = "app";
            const urlParams = new URLSearchParams(queryString);
            if (urlParams.has('view')) {
                view = urlParams.get('view');
            }

            if (view == "nested") {
                document.getElementById("id_application_navbar_container").classList.add("d-none");
            }

            window.MKS = {};
            window.MKS.MicroServices = {};

            var AppLoader = new ApplicationLoader();
            AppLoader.Connect(function() {
                AppLoader.Load(function() { });
            });

            var UpdateApplicationTime = function () {
                var d = new Date();
                var hours   = d.getHours(); // => 9
                var minutes = d.getMinutes(); // =>  30
                var seconds = d.getSeconds();
                document.getElementById("id_application_time").innerHTML = hours + ":" + minutes + ":" + seconds;
            }
            setInterval(UpdateApplicationTime, 1000);
        </script>
    </body>
</html>